'.platform-darwin atom-workspace atom-text-editor:not([mini])':
  'f3': 'split-diff:toggle'
  'f5': 'expose:toggle'
  'f7': 'imdone-atom:tasks'
  'shift-alt-down': 'editor:move-line-down'
  'shift-alt-up': 'editor:move-line-up'
  'f2': 'atomatigit:toggle'
  'alt-tab': 'project-manager:list-projects'
  'cmd-g': 'fuzzy-grep:toggle'
  'cmd-j': 'jumpy:toggle'
  'cmd-u': 'case-switch:toggle'
  'cmd-r': 'find-and-replace:select-all'
  'cmd-l': 'go-to-line:toggle'
  'cmd-e': 'expand-region:expand'
  'cmd-shift-e': 'expand-region:shrink'
