packages: [
  "advanced-open-file"
  "atom-fuzzy-grep"
  "atom-import-js"
  "atom-material-ui"
  "atom-move-line"
  "atom-ternjs"
  "atomatigit"
  "auto-update-packages"
  "autoclose-html"
  "autocomplete-paths"
  "case-switch"
  "clipboard-history"
  "docker"
  "double-tag"
  "duplicate-line-or-selection"
  "editor-background"
  "emmet"
  "expand-region"
  "expose"
  "file-icons"
  "git-blame"
  "git-plus"
  "git-time-machine"
  "highlight-selected"
  "imdone-atom"
  "jumpy"
  "language-diff"
  "language-javascript-semantic"
  "linter"
  "linter-eslint"
  "linter-js-standard-jsx"
  "merge-conflicts"
  "minimap-pigments"
  "multi-cursor"
  "node-debugger"
  "package-sync"
  "pane-jump"
  "pigments"
  "project-manager"
  "react"
  "seti-ui"
  "split-diff"
  "standard-formatter"
  "Sublime-Style-Column-Selection"
  "synced-sidebar"
  "terminal-plus"
  "toggle-quotes"
]
